main {
  margin-left: 350px;
  padding-top: 150px;
  /* padding-right: 30px; */
  display: flex;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
}

#video-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 22%;
  height: 317px;
  /* border: 1px solid black; */
  border-radius: 10px;

  overflow: hidden;

  gap: 10px;
}

.video-play {
  width: 100%;
  height: 220px;
}

.video-play img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video-content {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.video-content:hover {
  transform: scale(1.01);
}

.video-nickname:hover {
  transform: scale(1.01);
  color: black;
}

.video-content span:first-child {
  background-color: aqua;
  padding: 10px;
  border-radius: 50%;
}

.video-nickname {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: #969696;
  padding-left: 50px;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 1900px) {
  #video-container {
    width: 20%;
    height: fit-content;
  }
}

@media screen and (max-width: 1450px) {
  #video-container {
    width: 27%;
    height: fit-content;
  }
}

@media screen and (max-width: 1280px) {
  #video-container {
    width: 40%;
    height: fit-content;
  }
  .a-container {
    width: 50px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 500px;
    margin: 0 auto;
  }

  main {
    margin-left: 80px;
    margin-right: 80px;
  }
  #video-container {
    width: 100%;
    height: fit-content;
  }

  .a-container {
    display: none;
  }

  .h-container-searchbar {
    display: none;
  }
}
